.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

@media (max-width: 589px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
