body {
  background-color: #000000;
}

.wrapper {
  padding-top: 140px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
H3 {
  font-size: 3rem;
  font-weight: 300;
  opacity: 0.8;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
}

.wrapper .content {
  display: flex;
  flex: 1;
  gap: 4rem;
}

.services-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  flex: 1;
}

.services-cards-container .service-card {
  flex: 1;
  height: 100%;
  position: relative;
  padding: 40px 16px;
  border-radius: 16px;
  cursor: pointer;
}

.services-cards-container .service-card img {
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  inset: 0;
  z-index: -1;
  border-radius: 16px;
  filter: grayscale(2);
}
.services-cards-container .service-card:hover img {
  filter: grayscale(0);
  transition: 0.5s;
}

.services-cards-container .service-card h4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2rem;
}

.services-cards-container .service-card p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 16px;
  opacity: 0.8;
}

@media (max-width: 989px) {
  .services-cards-container {
    flex-direction: column;
  }

  .services-cards-container .service-card {
    padding: 24px 16px;
  }
}

@media (max-width: 589px) {
  .wrapper .content {
    flex: 1;
    flex-direction: column;
  }
}
