html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

button {
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 70%;
  left: 49%;
  width: 80px; /* largura para o botão */
  height: 30px; /* altura para o botão */
  padding: 0;
  margin: -15px 0 0 -30px; /* margem à esquerda e ao topo metade da medida do botão */
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 50%;
  color: #929292;
  background: none;
  border: 1px solid #6d6d6d;
  border-radius: 20px;
}

button:hover {
  background: #42424262;
  color: #929292;
  border: 1px solid #6d6d6d;
  border-radius: 20px;
  transition: 0.8s;
}
swiper-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-slide img {
  display: block;
  width: 95%;
  height: 95%;
  object-fit: scale-down;
}

.slide-two {
  display: block;
  width: 90%;
  height: 90%;
  object-fit: scale-down;
}
